<!DOCTYPE html>
<html>

<head>
	<title>Step by Step Volleyball School</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/animate.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<style>
		.wow:first-child {
			visibility: hidden;
		}
	</style>

</head>

<body>

	<!-- Start Header  -->
	<header>
		<div class="container">
			<div class="logo">
				<a href="/">Step by Step <span>Volleyball </span>School</a>
			</div>
			<a href="javascript:void(0)" class="ham-burger">
				<span></span>
				<span></span>
			</a>
			<div class="nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#classes">Program</a></li>
					<li><a href="#contact">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</header>
	<!-- End Header  -->

	<!-- Start Home -->
	<section class="home wow flash" id="home">
		<div class="container">
			<h1 class="wow slideInLeft" data-wow-delay="1s">Elevate Your Volleyball <span>SKILLS</span>.</h1>
			<h1 class="wow slideInRight" data-wow-delay="1s"> Get Better<span> Step by Step</span></h1>
		</div>
		<!-- go down -->
		<a href="#about" class="go-down">
			<i class="fa fa-angle-down" aria-hidden="true"></i>
		</a>
		<!-- go down -->

	</section>
	<!-- End Home -->


	<!-- Start About -->
	<section class="about" id="about">
		<div class="container">
			<div class="content">
				<div class="box wow bounceInUp">
					<div class="inner">
						<div class="img">
							<img src="/images/logo.png" alt="start today" />
						</div>
						<div class="text">
							<h4>Best Coaches & Staff</h4>
							<p>Our staff of elite coaches brings in over 20 years of experience competing in volleyball. All our coaches pride themselves in mentoring young athletes while also delivering a world-class volleyball experience. After each training session, our coaches strive to have shared their extensive knowledge on the game while also helping every individual athlete develop a love for the game.</p>
						</div>
					</div>
				</div>
				<div class="box wow bounceInUp" data-wow-delay="0.2s">
					<div class="inner">
						<div class="img">
							<img src="/images/logo.png" alt="start today" />
						</div>
						<div class="text">
							<h4>Best Training</h4>
							<p>Our Training Practices are The Best in the Houston / Katy Area as we focus on developing our players holistically. Our players leave our sessions and notice a significant improvement in their volleyball skills and their overall confidence in their athletic abilities. </p>
							<br>
							<br>
						</div>
					</div>
				</div>
				<div class="box wow bounceInUp" data-wow-delay="0.4s">
					<div class="inner">
						<div class="img">
							<img src="/images/logo.png" alt="start today" />
						</div>
						<div class="text">
							<h4>Develop Premier Volleyball Skills</h4>
							<p>With the combination of our elite coaches and our in-depth training program, our athletes develop premier volleyball skills. Our training sessions holistically develop our athletes and ensure that the skills that they pick up in their lessons transfer to the volleyball court competitively. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About -->


	<!-- Start Service -->
	<section class="service" id="service">
		<div class="container">
			<div class="content">
				<div class="text box wow slideInLeft">
					<h2>Services</h2>
					<p>Our elite volleyball program is currently only offering Private Lessons at the moment, in a group setting or a private setting. Our method of training is designed to allow our athletes to train with their peers or solo and engage in match-play, conditioning, mental training, and how to best compete for a college scholarship.</p>
					<a href="https://squareup.com/appointments/book/5053p75vybpj1t/L9JK8DRZJEK06/services" class="btn">Start Now</a>
				</div>
				<div class="accordian box wow slideInRight">
					<div class="accordian-container">
						<div class="head">
							<h4>Group Private Lessons</h4>
							<span class="fa fa-angle-down"></span>
						</div>
						<div class="body">
							<p>These lessons are best for those athletes looking to train and push themselves alongside their peers. The goal of our group sessions  is to focus on areas that strengthen the play of the group while also allowing for maximum development and confidence in themselves as volleyball players.</p>
						</div>
					</div>
					<div class="accordian-container">
						<div class="head">
							<h4>Private Lessons</h4>
							<span class="fa fa-angle-up"></span>
						</div>
						<div class="body">
							<p>The goal for our private lessons is for our athletes that work better alone and want to focus on their strengths and weaknesses. These Private Lessons sharpen the skills of our athletes while also getting them in the best shape possible with detailed training specific to that athlete. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Service -->

	<!-- Start Classes -->
	<section class="classes" id="classes">
		<div class="container">
			<div class="content">
				<div class="text wow slideInRight" style="text-align:center;">
					<h2>Private Lessons Offered</h2>
					<p>Our Private Lessons are divied into two different types of training that are specific to the position of your athelte. </p>
					<div class="class-items">
						<div class="item wow bounceInUp">
							<div class="item-img">
								<img src="/images/about3.jpeg" alt="about" />
							</div>
							<div class="item-text">
								<h4>Hitting, Attacking, Serving & Recieving Training</h4>
							</div>
						</div>
						<div class="item wow bounceInUp">
							<div class="item-text">
								<h4>Setter & Defense Training</h4>
							</div>
							<div class="item-img">
								<img src="/images/about3.jpeg" alt="about" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Classes -->

	<!-- Start Today -->
	<section class="start-today">
		<div class="container">
			<div class="content">
				<div class="box text wow slideInLeft">
					<h2>Start Your Training Today</h2>
					<p>Start your training today with private lessons that will improve your athlete in the 4 Principles of Development:</p>
					<ul style="color:white;">
						<li>Skill Development</li>
						<li>Strategic Comprehension</li>
						<li>Mental Awareness</li>
						<li>Strengh & Conditioning</li>
					</ul>
					<br>
					<a href="https://squareup.com/appointments/book/5053p75vybpj1t/L9JK8DRZJEK06/services" class="btn">Start Now</a>
				</div>
				<div class="box img wow slideInRight">
					<img src="/images/about2.jpeg" alt="about" />
				</div>

			</div>
		</div>
	</section>
	<!-- End Start Today -->

	<!-- Start Schedule -->
	<section class="schedule" id="schedule">
			<h2 style="text-align:center;">Classes Schedule</h2>
<!-- Start Square Appointments Embed Code --><script src='https://square.site/appointments/buyer/widget/5053p75vybpj1t/L9JK8DRZJEK06.js'></script><!-- End Square Appointments Embed Code -->
	</section>
	<!-- End Schedule -->

	<!-- Start Gallery -->
	<!-- <section class="gallery" id="gallery">
		<h2>Workout Gallery</h2>
		<div class="content">
			<div class="box wow slideInLeft">
				<img src="/images/gallery1.jpg" alt="gallery" />
			</div>
			<div class="box wow slideInRight">
				<img src="/images/gallery2.jpg" alt="gallery" />
			</div>
			<div class="box wow slideInLeft">
				<img src="/images/gallery3.jpg" alt="gallery" />
			</div>
			<div class="box wow slideInRight">
				<img src="/images/gallery5.jpg" alt="gallery" />
			</div>
		</div>
	</section> -->
	<!-- End Gallery -->

	<!-- Start Price -->
	<!-- <section class="price-package" id="price">
		<div class="container">
			<h2>Group Classes Option</h2>
			<p class="title-p">We Offer Group Classes that focuses on the holistic improvement of our players by focusing on their Skill Development, Strategic Comprehension, Mental Awareness & Strengh and Conditioning.</p>
			<div class="content">
				<div class="box wow bounceInUp">
					<div class="inner">
						<div class="price-tag">
							$55 Per Hour
						</div>
						<div class="img">
							<img src="/images/about3.jpeg" alt="about" />
						</div>
						<div class="text">
							<h3>2 Students</h3>
							<a href="https://squareup.com/appointments/book/5053p75vybpj1t/L9JK8DRZJEK06/services" class="btn">Join Now</a>
						</div>
					</div>
				</div>
				<div class="box wow bounceInUp" data-wow-delay="0.2s">
					<div class="inner">
						<div class="price-tag">
							$50 Per Month
						</div>
						<div class="img">
							<img src="/images/about3.jpeg" alt="about" />
						</div>
						<div class="text">
							<h3>3 Students</h3>
							<a href="https://squareup.com/appointments/book/5053p75vybpj1t/L9JK8DRZJEK06/services" class="btn">Join Now</a>
						</div>
					</div>
				</div>
				<div class="box wow bounceInUp" data-wow-delay="0.4s">
					<div class="inner">
						<div class="price-tag">
							$45 Per Month
						</div>
						<div class="img">
							<img src="/images/about3.jpeg" alt="about" />
						</div>
						<div class="text">
							<h3>4 Students</h3>
							<a href="https://squareup.com/appointments/book/5053p75vybpj1t/L9JK8DRZJEK06/services" class="btn">Join Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- End Price -->

	<!-- Start Contact -->
	<section class="contact" id="contact">
		<div class="container">
			<div class="content">
				<div class="box form wow slideInLeft">
					<h2 style="color:white;">Get Connected with Step by Step </h2>
					<p class="title-p" style="color:white;">Please Leave Us A Message With Any Questions That You May Have!</p>
					<br>
					<form>
						<input type="text" placeholder="Enter Name">
						<input type="text" placeholder="Enter Email">
						<input type="text" placeholder="Enter Mobile">
						<textarea placeholder="Enter Message"></textarea>
						<button type="submit">Send Message</button>
					</form>

				</div>
				<div class="box text wow slideInRight">
					<div class="info">
						<ul>
							<li><span class="fa fa-map-marker"></span> Location for School</li>
							<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=1423%20Vanderwilt%20LN%20Katy&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://2piratebay.org">pirate bay</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">google map generator</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
							<li><span class="fa fa-phone"></span> (111)111-1111</li>
							<li><span class="fa fa-envelope"></span><a href="info@sbsvolleyballschool.com">info@sbsvolleyballschool.com</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copy" style="text-align:center; color:white;">
				&copy; Step by Step Volleyball School <p>Powered by <a href="/">Wavy Digital Creatives</a></p>
			</div>
		</div>
	</section>
	<!-- End Contact -->



	<!-- jquery -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		$(document).ready(function() {

			$(".ham-burger, .nav ul li a").click(function() {

				$(".nav").toggleClass("open")

				$(".ham-burger").toggleClass("active");
			})
			$(".accordian-container").click(function() {
				$(".accordian-container").children(".body").slideUp();
				$(".accordian-container").removeClass("active")
				$(".accordian-container").children(".head").children("span").removeClass("fa-angle-down").addClass("fa-angle-up")
				$(this).children(".body").slideDown();
				$(this).addClass("active")
				$(this).children(".head").children("span").removeClass("fa-angle-up").addClass("fa-angle-down")
			})

			$(".nav ul li a, .go-down").click(function(event) {
				if (this.hash !== "") {

					event.preventDefault();

					var hash = this.hash;

					$('html,body').animate({
						scrollTop: $(hash).offset().top
					}, 800, function() {
						window.location.hash = hash;
					});

					// add active class in navigation
					$(".nav ul li a").removeClass("active")
					$(this).addClass("active")
				}
			})
		})
	</script>
	<script src="/js/wow.min.js"></script>
	<script>
		wow = new WOW({
			animateClass: 'animated',
			offset: 0,
		});
		wow.init();
	</script>
</body>

</html>
